.title {
    font-weight: bold;
    color: #444444;
}
.refresh {
    color: blue;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 1rem;
}
.search {
    width: 50rem;
    border: 1px solid lightgrey;
    margin-top: 1rem;
    margin-bottom: 1rem;
}